.register-form {
  width: min-content;
  margin-top: 100px;
  margin-bottom: 100px;
}

.register-form .register_title,
.login_title {
  font-size: 20px;
  font-weight: bolder;
}

.wpcf7-form-control {
  border: none;
  margin: 30px 0;
}
.require {
  font-style: italic;
  font-size: 14px;
  margin-bottom: 30px;
  font-weight: bold;
}
.regis_btn {
  width: 100%;
  padding: 15px 0;
  background-color: #fff;
  border: 1px solid #000;
  font-weight: bolder;
  letter-spacing: 0.2cm;
  text-align: center;
}

.login {
  width: min-content;
  margin: 100px auto;
}

.login_btn {
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #000;
}
.forgot {
  font-weight: bolder;
  color: #ccc;
  opacity: 1;
  margin-bottom: 20px;
}

.cre {
  font-weight: bolder;
}
#des {
  font-size: 14px;
  font-style: italic;
  margin-top: 20px;
}

.product-name {
  font-size: 30px;
}
.product-name,
.product-price,
.product-quantity,
.product-subtotal {
  margin-top: 20px;
}

.cart-subtotal {
  text-transform: uppercase;
}

.shipping {
  text-transform: uppercase;
}
.order-total {
  text-transform: uppercase;
}

.cart-subtotal .amount {
  font-size: 30px;
}

.order-total .amount {
  font-size: 30px;
}

.cart_totals {
  padding-left: 60px;
}
.cart_totals h2 {
  margin-bottom: 20px;
}

.search-mobile {
  position: absolute;
  bottom: -10px;
  right: 0;
}
